/* 
    Document   : style
    Created on : Jan 31, 2014, 10:04:59 AM
    Author     : luffy
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@media (min-width: 1600px)
{
    .span3
    {
        width: 360px;
    }
    .span6
    {
        width: 760px;
    }
    
}
.spacer
{
    margin-top: 25px !important;
}
