.main-header
{
    background: url('../images/background.jpg');
    height: 120px;
    margin: 0 0 0 0;
}

.footer
{
    background: url('../images/background.jpg') !important;
    height: 70px !important;
}
.footer-text
{
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
    color: #0088cc;
    text-decoration: none;
}